body{
  text-align: center;
  font-family: serif;
}
h1{
  font-size: 6rem;
}
.navbar-brand{
  font-weight: 700;
  color:white;
}
.nav-link{
  font-weight: 700;
}
#top1{
  background-color:#413c69;
}
#top1 .col-lg-5{
  color:white;
  font-size: 6rem;
}
.crown{
  font-size: 3.5rem;
  position: relative;
  color:#ee4540;
}
.top-text-comp1{
  font-size: 3rem;
}
.top-background-image1{
  height:83%;
  width:100%;
  opacity:0.4;
  position:relative;
  top:20px;
}
.top-background-image-text1{
  position: relative;
  left: 11%;
  bottom:57%;
  font-weight: bolder;
  font-size: 2rem;
  color:white;
}
.custom1{
  font-size: 2rem;
  color:white;
}
.custom2{
  color:#ee4540;
}
.custom2:hover{
  color:white;
}
  .rule{
    border-style:none;
    border-top-style: groove;
    border-width: thick;
    margin-top: 9%;
  }

#Photo-Gallery{
    background-color:white;
  padding-top: 5% 5% 2%;
}
.Photo-Gallery-heading{
  color:#413c69;
  margin-top: 40px;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Merriweather"
}
.row{
  padding:3% 5% 3% ;
}
.img{
  width:600px;
  height:400px;
}
#Facilities{
  margin-top:120px;
  background-color:#413c69;
}
.carousel-img{
  width:900px;
  height:600px;
  padding:6% 0 4%;
}
.carousel-img-pool{
  width:550px;
  height:400px;
    padding:6% 0 4%;
}
.carousel-img-cafe{
  width:600px;
  height:450px;
    padding:6% 0 4%;
}
.Facilities-head{
  color:#ee4540;
    font-weight: 700;
    font-size: 2.5rem;
}
.Facilities-text{
  color:white;
  font-size: 1.5rem;
  font-weight: 500;
}
#Programmes{
    background-color:white;
}
.Programmes-img{
  height:80px;
  width:80px;
}
.custom3{
  font-weight: 700;
  font-size: 2rem;
  color:#ee4540;
}
.row-custom{
  padding-top: 9%;
}
#Membership-cards{
  background-color: white;
  padding-top: 5%;
}
.cards-head{
  font-size: 2.5rem;
  font-weight:700;
  color:#ee4540;
}
.cards-text{
  font-size: 1.5rem;
  font-weight:700;
}
.custom-card2{
  font-family: "Merriweather"
}
.custom-card1{
  color:#413c69;
  font-size: 1.5rem;
}
.rule1{
  border-style:none;
  border-top-style: groove;
  border-width: thick;
  margin-top: 6%;
}
#Contacts{
  background-color:#293462;
  margin-top: 5%;
}
#Contacts .col-lg-7::before{
  background-image: url("https://images.unsplash.com/photo-1434596922112-19c563067271?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  opacity:0.4;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-size:cover;
    content:"";
}
.contacts-app-head{
  font-size: 2.5rem;
  font-weight:700;
  color:white;
}
.Contacts-app-text{
  font-family: "Merriweather";
  color:white;
  font-size: 1.5rem;
  line-height: 2.0;
}
.custom4{
  margin-left: 20px;
}
.Contacts-form-form{
  position:relative;
  bottom:0.5%;
  left:5%;
}
.form-label-head{
  font-family:"Merriweather" ;
  font-size: 1.5rem;
  color:#46b3e6;
  margin-right:2%;
}
.form-label{
  font-family:"Merriweather" ;
}
.bt-custom{
  margin-top: 4.5%;
}
#footer{
  padding-top:8.5%;
  margin-bottom: 5%;
}
.footer-shift{
  margin-left: 10px;
}
.custom5{
  color:#413c69;
}
